<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sfpay.airscape.server.dao.BusinessProductDao">
	<resultMap id="businessProductMap" type="com.sfpay.airscape.server.vo.BusinessProduct">
		<id column="BUSINESS_ID" property="businessId" />
		<result column="BUSINESS_NAME" property="businessName" />
		<result column="DESCRIPTION" property="description" />
	</resultMap>
	<parameterMap type="com.sfpay.airscape.server.vo.BusinessProduct" id="businessProduct"></parameterMap>
	<select id="query" resultMap="businessProductMap" parameterType="String">
		SELECT * from
		T_BUSINESS_PRODUCT
		where
		BUSINESS_ID=#{businessId}
	</select>

	<insert id="add" parameterType="businessProduct"
		useGeneratedKeys="true" keyProperty="businessId">
		insert into
		T_BUSINESS_PRODUCT(
		BUSINESS_NAME,
		DESCRIPTION)
		values(
		#{businessName},
		#{description}
		)
	</insert>

	<update id="update" parameterType="businessProduct">
		update T_BUSINESS_PRODUCT set
		BUSINESS_NAME=#{businessName},DESCRIPTION=#{description}
		where
		BUSINESS_ID=#{businessId}
	</update>

	<delete id="delete" parameterType="String">
		delete from T_BUSINESS_PRODUCT
		where
		BUSINESS_ID=#{businessId}
	</delete>

	<select id="queryAll" resultMap="businessProductMap">
		SELECT * from T_BUSINESS_PRODUCT
	</select>
</mapper>