<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sfpay.airscape.server.dao.DependencyInfoDao">
	<resultMap type="com.sfpay.airscape.server.vo.auxiliary.DependencyInfo" id="DependencyInfo">
		<result column="CURR_PROJECT_GROUP_ID" property="currentProjectGroupId" />
		<result column="CURR_PROJECT_ARTIFACT" property="currentProjectArtifact" />
		<result column="CURR_PROJECT_VERSION" property="currentProjectVersion" />
		<result column="CURR_NODE_GROUP_ID" property="currentNodeGroupId" />
		<result column="CURR_NODE_ARTIFACT" property="currentNodeArtifact" />
		<result column="CURR_NODE_VERSION" property="currentNodeVersion" />
		<result column="CURR_NODE_PARENT_GROUP_ID" property="currentNodeParentGroupId" />
		<result column="CURR_NODE_PARENT_ARTIFACT" property="currentNodeParentArtifact" />
		<result column="CURR_NODE_PARENT_VERSION" property="currentNodeParentVersion" />
	</resultMap>
	
	<insert id="addDependencyInfoBatch"  parameterType="java.util.List">
		insert into M_DEPEN_ANALYSIS (
				CURR_PROJECT_GROUP_ID,CURR_PROJECT_ARTIFACT,CURR_PROJECT_VERSION,
				CURR_NODE_GROUP_ID,CURR_NODE_ARTIFACT,CURR_NODE_VERSION,
				CURR_NODE_PARENT_GROUP_ID,CURR_NODE_PARENT_ARTIFACT,CURR_NODE_PARENT_VERSION)
		values
		<foreach collection="list" item="dependencyInfo" separator=",">
			(#{dependencyInfo.currentProjectGroupId},#{dependencyInfo.currentProjectArtifact},#{dependencyInfo.currentProjectVersion}
			,#{dependencyInfo.currentNodeGroupId},#{dependencyInfo.currentNodeArtifact},#{dependencyInfo.currentNodeVersion},
			 #{dependencyInfo.currentNodeParentGroupId},#{dependencyInfo.currentNodeParentArtifact},#{dependencyInfo.currentNodeParentVersion})
		</foreach>
	</insert>  
	
	<delete id="deleleDependencyInfoList" >
		truncate M_DEPEN_ANALYSIS
	</delete>  
	
	
	<select id="queryMvnanalysis" resultMap="DependencyInfo">
		SELECT CURR_PROJECT_GROUP_ID,CURR_PROJECT_ARTIFACT,CURR_PROJECT_VERSION,
		CURR_NODE_GROUP_ID,CURR_NODE_ARTIFACT,CURR_NODE_VERSION,
		CURR_NODE_PARENT_GROUP_ID,CURR_NODE_PARENT_ARTIFACT,CURR_NODE_PARENT_VERSION
		from M_DEPEN_ANALYSIS where CURR_PROJECT_GROUP_ID = CURR_NODE_PARENT_GROUP_ID and 
		CURR_PROJECT_ARTIFACT = CURR_NODE_PARENT_ARTIFACT and 
		CURR_PROJECT_VERSION = CURR_NODE_PARENT_VERSION
	</select>
	
</mapper>