<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sfpay.airscape.server.dao.ErrorMessageDao">
	<resultMap id="errorMessageMap" type="com.sfpay.airscape.server.vo.ErrorMessage">
		<id column="ERR_ID" property="errId" />
		<result column="APP_ID" property="appId" />
		<result column="SVN_PATH" property="svnPath" />
		<result column="ERR_TYPE" property="errType" />
		<result column="ERR_MSG" property="errMsg" />
		<result column="ERR_ORDER" property="errOrder" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="UPDATE_TIME" property="updateTime" />
	</resultMap>
	<parameterMap type="com.sfpay.airscape.server.vo.ErrorMessage" id="errorMessage"></parameterMap>
	<select id="query" resultMap="errorMessageMap" parameterType="ErrorMessage">
		SELECT * from
		ERROR_MESSAGE where
		APP_ID=#{appId} AND 
		SVN_PATH=#{svnPath} AND 
		ERR_MSG=#{errMsg}
	</select>

	<insert id="add" parameterMap="errorMessage">
		insert into
		ERROR_MESSAGE(
		APP_ID,
		SVN_PATH,
		ERR_TYPE,
		ERR_MSG,
		ERR_ORDER,
		CREATE_TIME,
		UPDATE_TIME)
		values(
		#{appId},
		#{svnPath},
		#{errType},
		#{errMsg},
		#{errOrder},
		now(),
		now()
		)
	</insert>

	<update id="update" parameterMap="errorMessage">
		update ERROR_MESSAGE set
		APP_ID=#{appId},
		ERR_TYPE=#{errType},
		ERR_MSG=#{errMsg},
		ERR_ORDER=#{errOrder},
		UPDATE_TIME=now()
		where
		APP_ID=#{appId} AND 
		SVN_PATH=#{svnPath} AND 
		ERR_MSG=#{errMsg}
	</update>
	<select id="queryAll" resultMap="errorMessageMap">
		SELECT * from ERROR_MESSAGE
	</select>

</mapper>