<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sfpay.airscape.server.dao.ParaDicDao">
	<resultMap id="paraDicMap" type="com.sfpay.airscape.server.vo.ParaDic">
		<id column="DIC_GROUP_CODE" property="dicGroupCode" />
		<id column="DIC_CODE" property="dicCode" />
		<result column="DIC_NAME" property="dicName" />
		<result column="DIC_GROUP_NAME" property="dicGroupName" />
		<result column="ORDER_BY" property="orderBy" />
		<result column="USABLE_FLG" property="usableFlg" />
		<result column="DESCRIPTION" property="description" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="UPDATE_TIME" property="updateTime" />
	</resultMap>
	<parameterMap type="com.sfpay.airscape.server.vo.ParaDic" id="paraDic"></parameterMap>
	<!-- PARA_DIC -->
	<select id="query" resultMap="paraDicMap" parameterType="String">
		SELECT * FROM PARA_DIC
		WHERE
		DIC_CODE=#{dicCode}
	</select>

	<insert id="add" parameterMap="paraDic">
		INSERT INTO PARA_DIC(
		DIC_NAME,
		DIC_GROUP_NAME,
		ORDER_BY,
		USABLE_FLG,
		DESCRIPTION,
		CREATE_TIME,
		UPDATE_TIME
		)VALUES(
		#{dicName},
		#{dicGroupName},
		#{orderBy},
		#{usableFlg},
		#{description},
		now(),
		now()
		)
	</insert>

	<update id="update" parameterMap="paraDic">
		update PARA_DIC set
		DIC_NAME=#{dicName},
		DIC_GROUP_NAME=#{dicGroupName},
		ORDER_BY=#{orderBy},
		USABLE_FLG=#{usableFlg},
		DESCRIPTION=#{description},
		UPDATE_TIME=now()
		where
		DIC_GROUP_CODE=#{dicGroupCode}
		AND
		DIC_CODE=#{dicCode}
	</update>

	<delete id="delete" parameterType="String">
		delete from PARA_DIC
		where
		DIC_GROUP_CODE=#{dicGroupCode}
		AND
		DIC_CODE=#{dicCode}
	</delete>

	<select id="queryAll" resultMap="paraDicMap">
		SELECT *
		from
		PARA_DIC
	</select>
</mapper>