<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sfpay.airscape.server.dao.RoleDao">
  <resultMap id="roleMap" type="com.sfpay.airscape.server.vo.Role">
    <id column="ID" property="id"/>
    <result column="ROLE_NAME" property="roleName"/>
    <result column="ROLE_DESCRIPTION" property="roleDescription" />
    <result column="CREATE_TIME" property="createTime"/>
    <result column="UPDATE_TIME" property="updateTime" />
  </resultMap>
  
  <select id="query" parameterType="String" resultMap="roleMap">
		SELECT * from T_ROLE	
		where 
		ROLE_NAME=#{roleName}
	</select>

	<insert id="add" parameterType="role">
		insert into
		T_ROLE(
			ROLE_NAME,
			CREATE_TIME,
			UPDATE_TIME
		)
		values(
			#{roleName},
			now(),
			now()
		)
	</insert>

	<update id="update" parameterType="role">
		update T_ROLE set
			ROLE_NAME=#{roleName}
			UPDATE_TIME=now()
		where
			ROLE_ID=#{roleId}
	</update>

	<delete id="delete" parameterType="String">	
		delete from T_ROLE
		where
		ID=#{id}
	</delete>

	<select id="queryAll" resultMap="roleMap">
		SELECT
		*
		from
		T_ROLE
	</select>
	
</mapper>