<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sfpay.airscape.server.dao.SubSysAppInfoDao">
	<resultMap id="subSysAppInfoMap" type="com.sfpay.airscape.server.vo.SubSysAppInfo">
		<id column="ID" property="id" />
		<result column="APPLICATION_ID" property="applicationId" />
		<result column="SUB_SYSTEM_ID" property="subSystemId" />
		<result column="LEVEL" property="level" />
		<result column="APPLICATION_NAME" property="applicationName" />
		<result column="SUB_SYSTEM_NAME" property="subSystemName" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="GROUP_ID" property="groupId" />
		<result column="ARTIFACT_ID" property="artifactId" />
		<result column="POM_URL" property="pomUrl" />
		<result column="VERSION" property="version" />
		<result column="STATUS" property="status" />
		<result column="BUSINESS_NAME" property="businessName" />
		<result column="SYSTEM_ENAME" property="systemEname" />
	</resultMap>
	<parameterMap type="com.sfpay.airscape.server.vo.SubSysAppInfo" id="subSysAppInfo"></parameterMap>
	<!-- T_SUBSYS_APP_INFO -->

	<select id="query" resultMap="subSysAppInfoMap" parameterType="String">
		SELECT a.*,b.level as LEVEL
		FROM T_SUBSYS_APP_INFO a 
		left join t_sub_system b on a.SUB_SYSTEM_ID=b.SUB_SYSTEM_ID WHERE APPLICATION_ID=#{applicationId}
	</select>

	<insert id="add" parameterMap="subSysAppInfo" useGeneratedKeys="true" keyProperty="id">
		insert into
		T_SUBSYS_APP_INFO(
		APPLICATION_ID,
		SUB_SYSTEM_ID,
		CREATE_TIME,
		UPDATE_TIME
		)
		values(
		#{applicationId},
		#{subSystemId},
		now(),
		now()
		)
	</insert>

	<update id="update" parameterMap="subSysAppInfo">
		update T_SUBSYS_APP_INFO set
		SUB_SYSTEM_ID=#{subSystemId},
		UPDATE_TIME=now()
		where
		APPLICATION_ID=#{applicationId}
	</update>

	<delete id="delete" parameterType="String">
		delete from T_SUBSYS_APP_INFO WHERE APPLICATION_ID=#{applicationId}
	</delete>

	<select id="queryAll" resultMap="subSysAppInfoMap">
		SELECT *
		from
		T_SUBSYS_APP_INFO
	</select>
	
	<select id="queryByPage" parameterType="com.sfpay.airscape.server.vo.auxiliary.PageExt" resultMap="subSysAppInfoMap">
		select * from (select b.ID as ID,a.ID as applicationId,a.APPLICATION_NAME as APPLICATION_NAME,a.GROUP_ID,
		a.ARTIFACT_ID,a.POM_URL,a.VERSION,b.SUB_SYSTEM_ID as SUB_SYSTEM_ID,c.SUB_SYSTEM_ENAME as SUB_SYSTEM_NAME,
		c.LEVEL as LEVEL,a.PACKAGING,a.STATUS,f.BUSINESS_NAME,d.SYSTEM_ENAME from t_application a 
		left join T_SUBSYS_APP_INFO b on a.ID = b.APPLICATION_ID
		left join t_sub_system c on b.SUB_SYSTEM_ID=c.SUB_SYSTEM_ID 
		LEFT JOIN t_system d on c.SYSTEM_ID=d.SYSTEM_ID
		left join t_product_sys_relation e on d.SYSTEM_ID=e.SYSTEM_ID
		left join t_business_product f on e.BUSINESS_ID=f.BUSINESS_ID
		where a.APPLICATION_NAME like CONCAT('%','${applicationName}','%')   
		<if test="condition != null">
		) z where 1=1	
			<foreach collection="condition.keys" item="k"> 
			    <if test="null != condition[k] and '' != condition[k]"> 
			    <choose>
			    	<when test="'null' == condition[k] ">  
		                and	${k} is null 
		            </when >  
		            <otherwise>
		            	and	${k} like CONCAT('%','${condition[k]}','%')  
		            </otherwise>
			    </choose>				
			    </if>			    
			</foreach> 
        </if>
		limit ${limitBegin} , ${pageSize}
	</select>
	
	
	<select id="count" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(1) from (select b.ID as ID,a.ID as applicationId,a.APPLICATION_NAME as APPLICATION_NAME,a.GROUP_ID,
		a.ARTIFACT_ID,a.POM_URL,a.VERSION,b.SUB_SYSTEM_ID as SUB_SYSTEM_ID,c.SUB_SYSTEM_ENAME as SUB_SYSTEM_NAME,
		c.LEVEL as LEVEL,a.PACKAGING,a.STATUS,f.BUSINESS_NAME,d.SYSTEM_ENAME from t_application a 
		left join T_SUBSYS_APP_INFO b on a.ID = b.APPLICATION_ID
		left join t_sub_system c on b.SUB_SYSTEM_ID=c.SUB_SYSTEM_ID 
		LEFT JOIN t_system d on c.SYSTEM_ID=d.SYSTEM_ID
		left join t_product_sys_relation e on d.SYSTEM_ID=e.SYSTEM_ID
		left join t_business_product f on e.BUSINESS_ID=f.BUSINESS_ID 
		<if test="params != null">
		) z where 1=1		
			<foreach collection="params.keys" item="k"> 
			    <if test="null != params[k] and '' != params[k]"> 
			    <choose>
			    	<when test="'null' == params[k] ">  
		                and	${k} is null 
		            </when >  
		            <otherwise>
		            	and	${k} like CONCAT('%','${params[k]}','%')  
		            </otherwise>
			    </choose>				
			    </if>	
			</foreach> 
        </if>
	</select>
</mapper>